GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
FRONTEND_URL=your-frontend-url
PORT=your-port
JWT_SECRET=your-secret-key
MONGODB_URI=your-mongodb-uri

GCP_PROJECT_ID=your-gcp-project-id
GCS_BUCKET=your-gcs-bucket-for-sketch-and-video
GOOGLE_APPLICATION_CREDENTIALS=./gcp-service-account-key.json

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER="your-email@gmail.com"
SMTP_PASSWORD="your-app-password"