project_id           = ""
region               = ""
sketches_bucket_name = ""
zone                 = ""
vm_name              = ""
machine_type         = ""
repository_name      = ""
service_account_email   = ""